body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
    gap: 0px;
    
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.calculator {
    border: 5px solid black;
    background: #9bc98f;
    margin: auto;
    height: 400px;
    width:300px;
    border-radius:10px;
    box-shadow: 5px 10px rgb(175, 174, 174);
    margin-top: 20px;
}

.calcDisplay {
    font-family: 'Orbitron';
    font-size: 40px;
    background-color: rgb(240, 206, 145);
    color:black;
    width:90%;
    height:20%;
    margin: 5px auto;
    border-radius: 5px;
    border:6px solid black;
    
}

.output {
    margin-top:12px;
    text-align: right;
}

button { 
    height: 40px;
    width:50px;
    border-radius: 30px;
    margin:6px auto;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(88, 85, 85);
    color: white;
}

#n0, #n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9 {
    background-color: rgb(110, 153, 104);
}

#reset, #plus, #minus, #multiply, #divide, #equals {
background-color: rgb(143, 39, 39);
}


.buttons{
    margin-top: 40px;
    display: flex;
    padding:10px;
}
